
{{> head }}
{{> navbar}}
<div class="container-fluid">
<div class ="row ">
    <div class="col-8">
        <h1>Prueba!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deleniti quae doloremque. Error rerum itaque possimus. Explicabo est, unde voluptates odit, consequuntur perspiciatis possimus iure nobis earum neque, cum adipisci?</p>
    </div>

    <div class="col-2">
        <img src="assets/img/no-image.jpg" width="300" height="”300”" class ="img-thumbnail">
    </div>

</div>


</div>


{{>footer}}

